/* CSS pour la page */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/bg22.jpg');
    background-size: cover;
}

.menu {
    background-color: #2bc3ba;
    padding: 10px 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu ul li a:hover {
    background-color: #fff;
    color: #2bc3ba;
}

.container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 800px; 
    padding: 50px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px;
}

.form-group input[type="file"] {
    width: auto;
}

.form-group input[type="submit"] {
    width: 100%;
    background-color: #2bc3ba;
    color: #fff;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.link {
    text-align: center;
    margin-top: 20px;
}

.link a {
    color: #2bc3ba;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
